

    <hr>
    <div class="img">
        <img src="{{ itemThumbImgUrl }}">
    </div>
    <div class="descr">
        <a href="#phone/{{itemTitle}}" class="pname">{{ itemTitle }}</a>
        <p>{{ shortDescr }}<a href="{{ itemLink }}">подробнее...</a></p>
        <a href="#" class="toBasket">В корзину</a> |
        <a href="#" class="compare">Сравнить</a>
    </div>
    <div class="price">
        <p>{{ price.min }}$-{{ price.max }}$</p>
    </div>
