

<div class="singleImage">
    <img class="mainImage" src="{{ itemThumbImgUrl }}">
    <div class="previousImage"></div>
    <div class="imageThumbnailContainer">
        {{#each techInfo.thumbs}}
            <div class="imageThumbnail"><img src="{{thumbURL}}"></div>
        {{/each}}
    </div>
    <div class="nextImage"></div>
</div>

<div class="singleContent">
    <h3>{{itemTitle}}</h3>
    <h4>{{price.min}}$</h4>
    <p>{{techInfo.common_descript.value}}</p>
    <a href="#" class="toBasket">В корзину</a> |
    <a href="#" class="compare">Сравнить</a>
</div>

<div class="singleDescr">
    <h3>Технические характеристики</h3>
    <table>
        <tr><td>{{techInfo.common_date.title}}</td> <td>{{techInfo.common_date.value}}</td></tr>
        <tr><td>{{techInfo.common_descript.title}}</td> <td>{{techInfo.common_descript.value}}</td></tr>
        <tr><td>{{techInfo.tabletusage.title}}</td> <td>{{techInfo.tabletusage.value}}</td></tr>
        <tr><td>{{techInfo.english_reviews.title}}</td> <td>{{techInfo.english_reviews.value}}</td></tr>
        <tr><td>{{techInfo.tab_type.title}}</td> <td>{{techInfo.tab_type.value}}</td></tr>
        <tr><td>{{techInfo.tab_diagonal.title}}</td> <td>{{techInfo.tab_diagonal.value}}</td></tr>
        <tr><td>{{techInfo.tab_baseos.title}}</td> <td>{{techInfo.tab_baseos.value}}</td></tr>
        <tr><td>{{techInfo.tab_os.title}}</td> <td>{{techInfo.tab_os.value}}</td></tr>
        <tr><td>{{techInfo.tab_cpu.title}}</td> <td>{{techInfo.tab_cpu.value}}</td></tr>
        <tr><td>{{techInfo.tab_gpu.title}}</td> <td>{{techInfo.tab_gpu.value}}</td></tr>
        <tr><td>{{techInfo.tab_ram.title}}</td> <td>{{techInfo.tab_ram.value}}</td></tr>
        <tr><td>{{techInfo.tab_flash.title}}</td> <td>{{techInfo.tab_flash.value}}</td></tr>
        <tr><td>{{techInfo.dual_sim.title}}</td> <td>{{techInfo.dual_sim.value}}</td></tr>
        <tr><td>{{techInfo.tab_mobilephone.title}}</td> <td>{{techInfo.tab_mobilephone.value}}</td></tr>
        <tr><td>{{techInfo.cpu_corenb.title}}</td> <td>{{techInfo.cpu_corenb.value}}</td></tr>
        <tr><td>{{techInfo.cpu_freqnb.title}}</td> <td>{{techInfo.cpu_freqnb.value}}</td></tr>
        <tr><td>{{techInfo.case_type.title}}</td> <td>{{techInfo.case_type.value}}</td></tr>
        <tr><td>{{techInfo.case_color.title}}</td> <td>{{techInfo.case_color.value}}</td></tr>
        <tr><td>{{techInfo.protectionnb.title}}</td> <td>{{techInfo.protectionnb.value}}</td></tr>
        <tr><td>{{techInfo.tab_vibration.title}}</td> <td>{{techInfo.tab_vibration.value}}</td></tr>
        <tr><td>{{techInfo.length.title}}</td> <td>{{techInfo.length.value}}</td></tr>
        <tr><td>{{techInfo.length.title}}</td> <td>{{techInfo.length.value}}</td></tr>
        <tr><td>{{techInfo.width.title}}</td> <td>{{techInfo.width.value}}</td></tr>
        <tr><td>{{techInfo.thickness.title}}</td> <td>{{techInfo.thickness.value}}</td></tr>
        <tr><td>{{techInfo.weight.title}}</td> <td>{{techInfo.weight.value}}</td></tr>
        <tr><td>{{techInfo.accelerometer.title}}</td> <td>{{techInfo.accelerometer.value}}</td></tr>
        <tr><td>{{techInfo.gyroscope.title}}</td> <td>{{techInfo.gyroscope.value}}</td></tr>
        <tr><td>{{techInfo.proximity_sensor.title}}</td> <td>{{techInfo.proximity_sensor.value}}</td></tr>
        <tr><td>{{techInfo.barometer.title}}</td> <td>{{techInfo.barometer.value}}</td></tr>
        <tr><td>{{techInfo.tab_resolution.title}}</td> <td>{{techInfo.tab_resolution.value}}</td></tr>
        <tr><td>{{techInfo.tab_screentech.title}}</td> <td>{{techInfo.tab_screentech.value}}</td></tr>
        <tr><td>{{techInfo.stylus_input.title}}</td> <td>{{techInfo.stylus_input.value}}</td></tr>
        <tr><td>{{techInfo.gorilla_glass.title}}</td> <td>{{techInfo.gorilla_glass.value}}</td></tr>
        <tr><td>{{techInfo.3dscreen.title}}</td> <td>{{techInfo.3dscreen.value}}</td></tr>
        <tr><td>{{techInfo.ambientsensor.title}}</td> <td>{{techInfo.ambientsensor.value}}</td></tr>
        <tr><td>{{techInfo.memcardsnb.title}}</td> <td>{{techInfo.memcardsnb.value}}</td></tr>
        <tr><td>{{techInfo.camnb.title}}</td> <td>{{techInfo.camnb.value}}</td></tr>
        <tr><td>{{techInfo.cam_mpxnb.title}}</td> <td>{{techInfo.cam_mpxnb.value}}</td></tr>
        <tr><td>{{techInfo.camera_focus.title}}</td> <td>{{techInfo.camera_focus.value}}</td></tr>
        <tr><td>{{techInfo.camera_flash.title}}</td> <td>{{techInfo.camera_flash.value}}</td></tr>
        <tr><td>{{techInfo.cam2_mpx.title}}</td> <td>{{techInfo.cam2_mpx.value}}</td></tr>
        <tr><td>{{techInfo.micnb.title}}</td> <td>{{techInfo.micnb.value}}</td></tr>
        <tr><td>{{techInfo.sound_sysnb.title}}</td> <td>{{techInfo.sound_sysnb.value}}</td></tr>
        <tr><td>{{techInfo.bluetoothnb.title}}</td> <td>{{techInfo.bluetoothnb.value}}</td></tr>
        <tr><td>{{techInfo.wifinb.title}}</td> <td>{{techInfo.wifinb.value}}</td></tr>
        <tr><td>{{techInfo.mobmodemnb.title}}</td> <td>{{techInfo.mobmodemnb.value}}</td></tr>
        <tr><td>{{techInfo.usb2nb.title}}</td> <td>{{techInfo.usb2nb.value}}</td></tr>
        <tr><td>{{techInfo.usb3nb.title}}</td> <td>{{techInfo.usb3nb.value}}</td></tr>
        <tr><td>{{techInfo.hdminb.title}}</td> <td>{{techInfo.hdminb.value}}</td></tr>
        <tr><td>{{techInfo.displayportnb.title}}</td> <td>{{techInfo.displayportnb.value}}</td></tr>
        <tr><td>{{techInfo.35jacknb.title}}</td> <td>{{techInfo.35jacknb.value}}</td></tr>
        <tr><td>{{techInfo.docking_port.title}}</td> <td>{{techInfo.docking_port.value}}</td></tr>
        <tr><td>{{techInfo.gpsnb.title}}</td> <td>{{techInfo.gpsnb.value}}</td></tr>
        <tr><td>{{techInfo.elcompass.title}}</td> <td>{{techInfo.elcompass.value}}</td></tr>
        <tr><td>{{techInfo.mhl.title}}</td> <td>{{techInfo.mhl.value}}</td></tr>
        <tr><td>{{techInfo.nfc.title}}</td> <td>{{techInfo.nfc.value}}</td></tr>
        <tr><td>{{techInfo.geotagging.title}}</td> <td>{{techInfo.geotagging.value}}</td></tr>
        <tr><td>{{techInfo.tvtuner.title}}</td> <td>{{techInfo.tvtuner.value}}</td></tr>
        <tr><td>{{techInfo.fm_tuner.title}}</td> <td>{{techInfo.fm_tuner.value}}</td></tr>
        <tr><td>{{techInfo.fmtransmitter.title}}</td> <td>{{techInfo.fmtransmitter.value}}</td></tr>
        <tr><td>{{techInfo.acc_energy.title}}</td> <td>{{techInfo.acc_energy.value}}</td></tr>
        <tr><td>{{techInfo.acc_removeable.title}}</td> <td>{{techInfo.acc_removeable.value}}</td></tr>
        <tr><td>{{techInfo.worktime.title}}</td> <td>{{techInfo.worktime.value}}</td></tr>
        <tr><td>{{techInfo.wireless_charge.title}}</td> <td>{{techInfo.wireless_charge.value}}</td></tr>
        <tr><td>{{techInfo.compl_ship.title}}</td> <td>{{techInfo.compl_ship.value}}</td></tr>
        <tr><td>{{techInfo.with_dockstation.title}}</td> <td>{{techInfo.with_dockstation.value}}</td></tr>
        <tr><td>{{techInfo.with_keyboard.title}}</td> <td>{{techInfo.with_keyboard.value}}</td></tr>
        <tr><td>{{techInfo.tab_secondaccum.title}}</td> <td>{{techInfo.tab_secondaccum.value}}</td></tr>
        <tr><td>{{techInfo.bag.title}}</td> <td>{{techInfo.bag.value}}</td></tr>
        <tr><td>{{techInfo.carmount.title}}</td> <td>{{techInfo.carmount.value}}</td></tr>
        <tr><td>{{techInfo.vr_headphones.title}}</td> <td>{{techInfo.vr_headphones.value}}</td></tr>
        <tr><td>{{techInfo.tc_stilus.title}}</td> <td>{{techInfo.tc_stilus.value}}</td></tr>
        <tr><td>{{techInfo.pcd_autoadapter.title}}</td> <td>{{techInfo.pcd_autoadapter.value}}</td></tr>
    </table>
</div>