
<div class="singleImage">
    <img class="mainImage" src="{{ itemThumbImgUrl }}">
    <div class="previousImage"></div>
    <div class="imageThumbnailContainer">
        {{#each techInfo.thumbs}}
            <div class="imageThumbnail"><img src="{{thumbURL}}"></div>
        {{/each}}

    </div>
    <div class="nextImage"></div>
</div>

<div class="singleContent">
    <h3>{{itemTitle}}</h3>
    <h4>{{price.min}}$</h4>
    <p>{{techInfo.common_descript.value}}</p>
    <a href="#" class="toBasket">В корзину</a> |
    <a href="#" class="compare">Сравнить</a>
</div>

<div class="singleDescr">
    <h3>Технические характеристики</h3>
    <table>
        <tr><td>{{techInfo.birthday.title}}</td> <td>{{techInfo.birthday.value}}</td></tr>
        <tr><td>{{techInfo.cam_type.title}}</td> <td>{{techInfo.cam_type.value}}</td></tr>
        <tr><td>{{techInfo.photo_kit.title}}</td> <td>{{techInfo.photo_kit.value}}</td></tr>
        <tr><td>{{techInfo.case_type.title}}</td> <td>{{techInfo.case_type.value}}</td></tr>
        <tr><td>{{techInfo.protection.title}}</td> <td>{{techInfo.protection.value}}</td></tr>
        <tr><td>{{techInfo.project_photo.title}}</td> <td>{{techInfo.project_photo.value}}</td></tr>
        <tr><td>{{techInfo.length.title}}</td> <td>{{techInfo.length.value}}</td></tr>
        <tr><td>{{techInfo.width.title}}</td> <td>{{techInfo.width.value}}</td></tr>
        <tr><td>{{techInfo.thickness.title}}</td> <td>{{techInfo.thickness.value}}</td></tr>
        <tr><td>{{techInfo.weight.title}}</td> <td>{{techInfo.weight.value}}</td></tr>
        <tr><td>{{techInfo.display_type.title}}</td> <td>{{techInfo.display_type.value}}</td></tr>
        <tr><td>{{techInfo.display_dots.title}}</td> <td>{{techInfo.display_dots.value}}</td></tr>
        <tr><td>{{techInfo.display_diag.title}}</td> <td>{{techInfo.display_diag.value}}</td></tr>
        <tr><td>{{techInfo.sens_screen.title}}</td> <td>{{techInfo.sens_screen.value}}</td></tr>
        <tr><td>{{techInfo.folding_screen.title}}</td> <td>{{techInfo.folding_screen.value}}</td></tr>
        <tr><td>{{techInfo.live_view.title}}</td> <td>{{techInfo.live_view.value}}</td></tr>
        <tr><td>{{techInfo.second_display.title}}</td> <td>{{techInfo.second_display.value}}</td></tr>
        <tr><td>{{techInfo.viewfinder.title}}</td> <td>{{techInfo.viewfinder.value}}</td></tr>
        <tr><td>{{techInfo.size_matrix.title}}</td> <td>{{techInfo.size_matrix.value}}</td></tr>
        <tr><td>{{techInfo.matrix_type.title}}</td> <td>{{techInfo.matrix_type.value}}</td></tr>
        <tr><td>{{techInfo.min_iso.title}}</td> <td>{{techInfo.min_iso.value}}</td></tr>
        <tr><td>{{techInfo.max_iso.title}}</td> <td>{{techInfo.max_iso.value}}</td></tr>
        <tr><td>{{techInfo.changeability.title}}</td> <td>{{techInfo.changeability.value}}</td></tr>
        <tr><td>{{techInfo.auto_focus.title}}</td> <td>{{techInfo.auto_focus.value}}</td></tr>
        <tr><td>{{techInfo.manual_focus.title}}</td> <td>{{techInfo.manual_focus.value}}</td></tr>
        <tr><td>{{techInfo.stabilizer.title}}</td> <td>{{techInfo.stabilizer.value}}</td></tr>
        <tr><td>{{techInfo.cam_mpx.title}}</td> <td>{{techInfo.cam_mpx.value}}</td></tr>
        <tr><td>{{techInfo.cam_res.title}}</td> <td>{{techInfo.cam_res.value}}</td></tr>
        <tr><td>{{techInfo.cam_video.title}}</td> <td>{{techInfo.cam_video.value}}</td></tr>
        <tr><td>{{techInfo.cam_video_res.title}}</td> <td>{{techInfo.cam_video_res.value}}</td></tr>
        <tr><td>{{techInfo.video_frame_rate.title}}</td> <td>{{techInfo.video_frame_rate.value}}</td></tr>
        <tr><td>{{techInfo.intern_flash.title}}</td> <td>{{techInfo.intern_flash.value}}</td></tr>
        <tr><td>{{techInfo.flash_number.title}}</td> <td>{{techInfo.flash_number.value}}</td></tr>
        <tr><td>{{techInfo.power_control.title}}</td> <td>{{techInfo.power_control.value}}</td></tr>
        <tr><td>{{techInfo.flash_mount.title}}</td> <td>{{techInfo.flash_mount.value}}</td></tr>
        <tr><td>{{techInfo.expo_type.title}}</td> <td>{{techInfo.expo_type.value}}</td></tr>
        <tr><td>{{techInfo.aperture_prior.title}}</td> <td>{{techInfo.aperture_prior.value}}</td></tr>
        <tr><td>{{techInfo.shutter_prior.title}}</td> <td>{{techInfo.shutter_prior.value}}</td></tr>
        <tr><td>{{techInfo.manual_expo.title}}</td> <td>{{techInfo.manual_expo.value}}</td></tr>
        <tr><td>{{techInfo.expo_correction.title}}</td> <td>{{techInfo.expo_correction.value}}</td></tr>
        <tr><td>{{techInfo.white_override.title}}</td> <td>{{techInfo.white_override.value}}</td></tr>
        <tr><td>{{techInfo.scene_templates.title}}</td> <td>{{techInfo.scene_templates.value}}</td></tr>
        <tr><td>{{techInfo.min_expo.title}}</td> <td>{{techInfo.min_expo.value}}</td></tr>
        <tr><td>{{techInfo.max_expo.title}}</td> <td>{{techInfo.max_expo.value}}</td></tr>
        <tr><td>{{techInfo.shoot_speed.title}}</td> <td>{{techInfo.shoot_speed.value}}</td></tr>
        <tr><td>{{techInfo.buffer__vault.title}}</td> <td>{{techInfo.buffer__vault.value}}</td></tr>
        <tr><td>{{techInfo.3d_photo.title}}</td> <td>{{techInfo.3d_photo.value}}</td></tr>
        <tr><td>{{techInfo.raw.title}}</td> <td>{{techInfo.raw.value}}</td></tr>
        <tr><td>{{techInfo.remote.title}}</td> <td>{{techInfo.remote.value}}</td></tr>
        <tr><td>{{techInfo.dict.title}}</td> <td>{{techInfo.dict.value}}</td></tr>
        <tr><td>{{techInfo.stereo_photo.title}}</td> <td>{{techInfo.stereo_photo.value}}</td></tr>
        <tr><td>{{techInfo.dictation.title}}</td> <td>{{techInfo.dictation.value}}</td></tr>
        <tr><td>{{techInfo.memcards.title}}</td> <td>{{techInfo.memcards.value}}</td></tr>
        <tr><td>{{techInfo.gps.title}}</td> <td>{{techInfo.gps.value}}</td></tr>
        <tr><td>{{techInfo.bluetooth.title}}</td> <td>{{techInfo.bluetooth.value}}</td></tr>
        <tr><td>{{techInfo.wifi.title}}</td> <td>{{techInfo.wifi.value}}</td></tr>
        <tr><td>{{techInfo.3g_access.title}}</td> <td>{{techInfo.3g_access.value}}</td></tr>
        <tr><td>{{techInfo.usb.title}}</td> <td>{{techInfo.usb.value}}</td></tr>
        <tr><td>{{techInfo.firewire.title}}</td> <td>{{techInfo.firewire.value}}</td></tr>
        <tr><td>{{techInfo.pc_cable.title}}</td> <td>{{techInfo.pc_cable.value}}</td></tr>
        <tr><td>{{techInfo.video_out.title}}</td> <td>{{techInfo.video_out.value}}</td></tr>
        <tr><td>{{techInfo.hdtv_out.title}}</td> <td>{{techInfo.hdtv_out.value}}</td></tr>
        <tr><td>{{techInfo.hdmi_out.title}}</td> <td>{{techInfo.hdmi_out.value}}</td></tr>
        <tr><td>{{techInfo.ethernet.title}}</td> <td>{{techInfo.ethernet.value}}</td></tr>
        <tr><td>{{techInfo.acc_type.title}}</td> <td>{{techInfo.acc_type.value}}</td></tr>
        <tr><td>{{techInfo.acc_capacity.title}}</td> <td>{{techInfo.acc_capacity.value}}</td></tr>
    </table>
</div>