

<div class="singleImage">
    <img class="mainImage" src="{{ itemThumbImgUrl }}">
    <div class="previousImage"></div>
    <div class="imageThumbnailContainer">
        <div class="imageThumbnail"><img src="http://content2.onliner.by/catalog/device/100/f16849c646ec7b06d7ceaa62c1a1b883.jpg"></div>
        <div class="imageThumbnail"><img src="http://content2.onliner.by/catalog/device/100/a9aff5160a082f3b78ee134a2ec5b181.jpg"></div>
        <div class="imageThumbnail"><img src="http://content2.onliner.by/catalog/device/100/536360343c3cba7ee8d7c308a29cbbb1.jpg"></div>

    </div>
    <div class="nextImage"></div>
</div>

<div class="singleContent">
    <h3>{{itemTitle}}</h3>
    <h4>{{price.min}}$</h4>
    <p>{{ common_descript.value}}</p>
    <a href="#" class="toBasket">В корзину</a> |
    <a href="#" class="compare">Сравнить</a>
</div>

<div class="singleDescr">
    <table>
        <tr><td>{{birthday.title}}</td> <td>{{birthday.value}}</td></tr>
        <tr><td>{{band.title}}</td> <td>{{band.value}}</td></tr>
        <tr><td>{{smart.title}}</td> <td>{{smart.value}}</td></tr>
        <tr><td>{{os.title}}</td> <td>{{os.value}}</td></tr>
        <tr><td>{{cpu.title}}</td> <td>{{cpu.value}}</td></tr>
        <tr><td>{{cpu_freq.title}}</td> <td>{{cpu_freq.value}}</td></tr>
        <tr><td>{{numberofcoresmob.title}}</td> <td>{{numberofcoresmob.value}}</td></tr>
    </table>
</div>